.contactSection{
  background-color: white;
  color: black;
  padding: 80px 100px;
}
.contactSection > h1 {
  font-size: 32px;
  font-weight: bold;
  
  font-family: "League Spartan", sans-serif;
}
/* styles/ContactForm.module.css */
.contactForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.formGroup {
  flex: 1;
  min-width: 300px;
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  background-color: transparent;
  color: black !important;
}

.textarea {
  resize: none;
}

.fullWidth {
  flex: 1 100%;
}
.contactSectionBottom{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
@media (max-width:448px) {
  .contactSection{
  padding: 80px 10px;
}
}